$color-default: #FFC107;
$color-secondary: #707070;

@mixin font-default {
    font-family: Roboto;
    color: $color-secondary;
}


@mixin padding-padrao { 
    padding-top: 26px;
    padding-bottom: 26px;
}

/* -------------------------------- */

.container-fluid {
    background-color: $color-default;
}

.container-header {
    @include padding-padrao;
}

.container-header .img-search {
    position: absolute;
    right: 55px;
    top: 12px;
}

.container-header .nav-section-menu ul {
    margin-right: 43px;
}

.container-header .search-box {
    width: 636px;
    height: 44px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;

    font-size: 16px;
    line-height: 19px;
    @include font-default;
}

.container-header .login-menu a {
    @include font-default;
}

.color-menu {
    background-color: $color-secondary;
}

.container-menu {
    padding-top: 15px;
    padding-bottom: 15px;
}
