/* -------------------------------- */
/* line 10, styles.scss */
html, * {
  font-family: Roboto;
  color: #707070;
}

/* line 15, styles.scss */
.container-fluid {
  background-color: #FFC107;
}

/* line 19, styles.scss */
.container-header {
  /* Olhar esse sass, as vezes nem precisa desse mixin */
  padding-top: 26px;
  padding-bottom: 26px;
}

/* line 24, styles.scss */
.container-header .img-search {
  position: absolute;
  right: 55px;
  top: 12px;
}

/* line 30, styles.scss */
.container-header .nav-section-menu ul {
  margin-right: 43px;
}

/* line 34, styles.scss */
.container-header .search-box {
  width: 636px;
  height: 44px;
  border: none;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 19px;
}

/* line 45, styles.scss */
.color-menu {
  background-color: #707070;
}

/* line 49, styles.scss */
.container-menu {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 54, styles.scss */
.container-payment {
  margin-top: 42px;
}

/* line 58, styles.scss */
.container-payment .align-frete {
  text-align: right;
}

/* line 62, styles.scss */
.container-popular {
  margin-top: 30px;
}

/* line 66, styles.scss */
.container-popular h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
}

/* line 73, styles.scss */
.container-popular > .container-products {
  margin-top: 30px;
}

/* line 77, styles.scss */
.container-popular > .container-products figcaption {
  margin-top: 9.7px;
}

/* line 81, styles.scss */
.container-popular .checked {
  margin-top: 5px;
  color: orange;
}

/* line 86, styles.scss */
.container-popular .btn-see-more {
  width: 159px;
  height: 34px;
  margin-top: 42px;
  background: #FFC107;
  border-radius: 4px;
  border: 0;
}
