.container-footer {
  margin-top: 47px; }

.container-footer .color-heading-footer {
  color: #FFC107;
  margin-top: 26px;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px; }

.container-footer ol {
  margin-bottom: 34px; }

.container-footer ol > li {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 2px; }

html, * {
  font-family: Roboto;
  color: #343A40; }

.color-full-container {
  background-color: #FFC107; }

.container-header {
  padding-top: 26px;
  padding-bottom: 25px; }
  .container-header .img-search {
    position: absolute;
    right: 55px;
    top: 12px; }
  .container-header .nav-section-menu ul {
    margin-right: 43px; }
  .container-header .search-box {
    width: 636px;
    height: 44px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 19px; }
  .container-header .login-menu {
    display: flex;
    align-items: center;
    justify-content: center; }
    .container-header .login-menu .nav-login {
      margin: 0 30px 0 0; }
    .container-header .login-menu .nav-shopping, .container-header .login-menu .nav-login {
      width: auto;
      position: relative; }
      .container-header .login-menu .nav-shopping .product-number, .container-header .login-menu .nav-login .product-number {
        background-color: #FF0F9A;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        top: -17px; }
    .container-header .login-menu .p-login {
      font-weight: bold;
      margin-bottom: 0; }
      .container-header .login-menu .p-login img {
        padding-right: 10px; }

.color-menu {
  background-color: #343A40; }

.container-menu {
  /* .menu-title {
      margin-left: 35px;
  } */ }
  .container-menu a {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px; }
  .container-menu .menu-departaments .menu-dropdown-hover {
    margin-left: 15px;
    padding: 15px 15px 15px 5px; }
    .container-menu .menu-departaments .menu-dropdown-hover img {
      padding-right: 5px; }
  .container-menu .menu-departaments .menu-bar {
    position: relative; }
  .container-menu .menu-departaments li ul {
    display: none;
    position: absolute;
    text-decoration: none;
    z-index: 2;
    background-color: #343A40;
    top: 54.5px;
    left: 0;
    width: 100%;
    list-style: none;
    padding-left: 0; }
    .container-menu .menu-departaments li ul li {
      /* Start o A */
      /* End A */ }
      .container-menu .menu-departaments li ul li a {
        display: block;
        padding: 15px; }
  .container-menu .menu-departaments li:hover {
    background-color: #1f2327; }
    .container-menu .menu-departaments li:hover ul {
      display: block; }
  .container-menu .menu-departaments .menu-dropdown-color {
    border-top: 7px solid #FFC107; }

.container-popular {
  margin-top: 30px; }

.container-popular h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 26px; }

.container-popular > .container-products {
  margin-top: 30px; }

.container-popular > .container-products figcaption, .p-price {
  color: #343A40;
  margin-top: 9.7px;
  font-style: normal;
  font-weight: bold;
  font-size: 19px; }

.container-popular > .container-products p {
  margin-top: 5px;
  font-size: 16px; }

.container-popular .checked {
  margin-top: 5px;
  color: orange; }

.container-popular .btn-see-more {
  width: 159px;
  height: 34px;
  margin-top: 42px;
  background: #FFC107;
  border-radius: 4px;
  border: 0; }

.container-payment {
  margin-top: 42px;
  padding-right: 0; }
  .container-payment .color-section {
    background-color: #FF0F9A; }
  .container-payment .color-section-frete {
    background-color: #B343C3; }
  .container-payment .abs-payment {
    position: absolute;
    font-family: Roboto;
    color: #fff;
    font-size: 23px;
    display: block;
    width: 190px; }
    .container-payment .abs-payment strong {
      color: #fff; }
  .container-payment .position-r {
    position: relative;
    padding-right: 0; }
    .container-payment .position-r img {
      text-align: left; }
  .container-payment .bg-parcelas {
    height: 100%;
    margin-left: auto; }
  .container-payment .align-frete {
    text-align: right; }

.breadcrumb {
  background-color: transparent;
  margin-top: 40px;
  padding-left: 0; }

.checked {
  margin-top: 5px;
  color: orange; }

.btn-buy {
  background-color: #11DD4A;
  color: #fff;
  border: none;
  height: 34px;
  margin-top: 26px;
  margin-bottom: 10px;
  border-radius: 4px; }

.container-description h2 {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 14px; }

.container-checkout h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 6px; }

.container-checkout .p-description {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px; }
.container-checkout .p-price {
  padding-top: 10px;
  font-size: 40px; }
.container-checkout .p-juros {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-top: 26px; }
.container-checkout .p-amount {
  margin-top: 20px; }

.container-description p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px; }

.container-checkout .select-amount {
  height: 39px;
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  border-radius: 5px; }

.container-comments {
  margin-top: 10px; }

/* -------------------------------- */
html, * {
  font-family: Roboto;
  color: #343A40; }

/*# sourceMappingURL=styles.css.map */
