$color-default: #FFC107;
$color-secondary: #343A40;
$color-btn: #11DD4A;
$size: 26px;
$margin-bottom: 30px;

@mixin margin-b ($margin-bottom) { 
    margin-bottom: $margin-bottom;
}

@mixin font-size ($size) {
    font-weight: bold;
    font-size: $size;
}