@import "../2-tools/mixinVariavel";

.btn-buy {
    background-color: $color-btn;
    color: #fff;
    border: none;
    height: 34px;
    margin-top: 26px;
    margin-bottom: 10px;
    border-radius: 4px;
}