@import "../2-tools/mixinVariavel";

.container-footer {
    margin-top: 47px;

    .color-heading-footer {
        color: $color-default;
        margin-top: 26px;
        margin-bottom: 13px;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 22px;
    }

    ol {
        margin-bottom: 34px;
        padding: 0;
        justify-content: flex-end;
        align-items: center;
    }

    ol > li {
        color: #fff;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 2px;
    }

    .ol-characters > li {
        white-space: nowrap;
    }

    .mais-acessados > li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 17ch;
    }
}