@import "../2-tools/mixinVariavel";

html, * {
    font-family: Roboto;
    color: $color-secondary;
}

.color-full-container {
    background-color: $color-default;
}

.container-header {
    padding-top: 26px;
    padding-bottom: 25px;

    .img-search {
        position: absolute;
        right: 55px;
        top: 8px;
        background-color: transparent;
        border: 0;
    }

    .nav-section-menu ul {
        margin-right: 43px;
    }

    .search-box {
        height: 44px;
        width: 100%;
        border: none;
        border-radius: 50px;
        padding-left: 20px;
        font-size: 16px;
        line-height: 19px;
    }

    

    .login-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-login{
            margin: 0 30px 0 0;
        }

        .nav-shopping, .nav-login {
            width: auto;
            position: relative;
            
            .product-number {
                background-color: #FF0F9A;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                color: #fff;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                top: -17px;
            }
        }

        .p-login {
            font-weight: bold;
            margin-bottom: 0;
            img {
                padding-right: 10px;
            }
        }
    }    
}