.container-checkout {
    .p-description {
        margin-bottom: 24px;      
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
    
    .p-price {
        padding-top: 10px;
        font-size: 40px;
    }

    .p-juros {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        margin-top: 26px;
    }

    .p-amount {
        margin-top: 20px;
    }
}

.container-description {
    p {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
}
