@import "../2-tools/mixinVariavel";

.container-payment {
    margin-top: 42px;
    padding-right: 0;

    .bg-background {
        background: url(./../img/background-parcelas.png) no-repeat center right;
        height: 100px;
    }

    .bg-background2 {
        background: url(./../img/background-entrega.png) no-repeat center right;
        height: 100px;
    }

    .color-section {
        background-color: #FF0F9A;
    }

    .logo-style {
        position: relative;
        height: fit-content;
        margin: 0 25px 0 80px;
    }

     .color-section-frete {
         background-color: #B343C3;
     }

    .abs-payment {
        font-family: Roboto;
        color: #fff;
        font-size: 23px;
        display: block;

        strong {
            color: #fff;
            display: block;
        }
    }

    .position-r {
        position: relative;
        padding-right: 0;
        
        img {
            text-align: left;
        }
    }

    .bg-parcelas {
        height: 100%;
        width: 100%;
    }

    .align-frete {
        text-align: right;
    }
}